<mat-card class="text-center w-full">
  <div>
    <img
      src="https://via.placeholder.com/150"
      alt=""
      class="mb-1 mx-auto h-[200px]"
    />
    <div class="w-full">
      <div>
        <h5>Shoes</h5>
        <p class="truncate hover:whitespace-normal">Lorem</p>
        <p>Description</p>
      </div>
      <div class="flex justify-between">
        <span class="text-red-400">{{ "150" | currency }}</span>
        <button>
          <mat-icon class="text-gray-500">shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
